<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>

        <ion-item>
          <ion-label stacked>Nome</ion-label>
          <ion-input type="text" [(ngModel)]="user.name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Email</ion-label>
          <ion-input type="text" [(ngModel)]="user.email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Telefone</ion-label>
          <ion-input type="text" [(ngModel)]="user.phone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>CPF</ion-label>
          <ion-input type="text" [(ngModel)]="user.cpf"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label stacked>Senha</ion-label>
          <ion-input type="password" [(ngModel)]="user.password"></ion-input>
        </ion-item>
      
      </ion-list>

      <button ion-button color="dark" round (click)="register(user)">Salvar</button>



</ion-content>
