<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div padding>
  <button ion-button block color="primary" (click)="logout()">Sair</button>
  </div>
</ion-content>
